<menu class="pannelSection">

	<h2>Filters:</h2>
	<div class="buttongroup">
	<label><input type="checkbox" ng-model="type.html5" 		/><span>HTML5</span></label>
	<label><input type="checkbox" ng-model="type.css"	/><span>CSS3</span></label>
	<label><input type="checkbox" ng-model="type.js"		/><span>JavaScript</span></label>
	</div>


	<div class="separator"></div>

	<h2 >Sort by:</h2>
	<div class="buttongroup">
	<label><input type="radio" ng-model="orderProp" value="date"/><span>Date</span></label>
	<label><input type="radio" ng-model="orderProp" value="size"/><span>Project Size</span></label>
	</div>

	<div class="clear"></div>
</menu>

<div ng-repeat="work in works | filterWorks: {'key':'type', 'values':type} | filterWorks: {'key':'participation', 'values':participation} | filterWorks: {'key':'seriousness', 'values':seriousness} | orderBy:orderProp:true">
	<a href="{{work.link.href}}" title="{{work.link.title}}" target="_blank" class="work">
		<img class="icon" ng-src="img/icons/{{work.image}}" alt="{{work.title}}"/>
		<p class="title">{{work.title}}</p>
		<p class="category">{{work.category}}</p>
		<p class="date">{{work.date}}</p>
		<p class="description">{{work.description}}</p>
	</a>
</div>
